html,
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

body {
    max-height: 100vh !important;
}

* {
    box-sizing: border-box;
}
#root {
    height: 100%;
}

#register-form,
#create-form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.img-place {
    opacity: 1;
    transform: scale(0);
    animation: scaleUp 1000ms ease forwards;
    animation-delay: calc(var(--order) * 150ms);
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (min-width: 375px) {
    .swiper-wrapper {
        width: 320px;
    }
}
@media screen and (min-width: 640px) {
    .swiper-wrapper {
        width: 640px;
    }
}
