html,
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

body {
    max-height: 100vh !important;
}

* {
    box-sizing: border-box;
}
#root {
    height: 100%;
}

@media screen and (min-width: 375px) {
    .swiper-wrapper {
        width: 320px;
    }
}
@media screen and (min-width: 640px) {
    .swiper-wrapper {
        width: 640px;
    }
}
